*{
    padding: 0px;
    background-color: rgb(231, 61, 89);
    color: white;
}

body {
    
    text-align: center;
    margin-top: 50px;
    position: relative;
}

.coracao {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: red;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    opacity: 0.8;
    animation: cair 5s linear infinite; /* Animação de queda */
}

@keyframes cair {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh); /* Move para baixo da tela */
    }
}

/* thead */

.passions-conflict-regular {
    font-family: "Passions Conflict", cursive;
    font-weight: 400;
    font-style: normal;
  }

.cronometro {
    color: white;
    font-size: 1.7em;
    margin-top: 10px;
    margin-bottom: 10px;
}

#foto > img {
    width: 300px;
    height: auto;
}

/* thead */

h1 {
    font-family: Passions Conflict;
    font-size: 70px;
    font-weight: 300;
}

p{
    font-family: Dancing Script;
    font-size: 27px;
    text-align: center;
}