*{
    padding: 0px;
    margin: 0px;
    background-color: rgb(231, 61, 89);
    color: white;
}

body {
    overflow: auto;
    text-align: center;
    margin: 0;
    position: relative;
    padding: 20px;
    height: 100vh;
}

.coracao {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    animation: cair linear infinite;
    transform: rotate(-45deg);
    margin: 0;
}

.coracao:before,
.coracao:after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(255, 255, 255);
}
.coracao:before {
    top: -20px;
    left: 0;
}
.coracao:after {
    left: 20px;
    top: 0;
}
@keyframes cair {
    0% {
        transform: translateY(0) rotate(-45deg);
    }
    100% {
        transform: translateY(100vh) rotate(-45deg);
    }
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.desaparecer {
    animation: fadeOut 2s forwards; /* Animação para desaparecer */
}

/* thead */

.passions-conflict-regular {
    font-family: "Passions Conflict", cursive;
    font-weight: 400;
    font-style: normal;
  }

.cronometro {
    color: white;
    font-size: 1.7em;
    margin-top: 2px;
    margin-bottom: 10px;
}

#foto > img {
    margin-top: 100px;
    margin-bottom: 10px;
    width: 300px;
    height: auto;
}

/* tbody */

h1 {
    font-family: Passions Conflict;
    font-size: 70px;
    font-weight: 300;
    margin-top: 5px;
    margin-bottom: 3px;
}

p{
    font-family: Dancing Script;
    font-size: 27px;
    text-align: center;
}

#p01 {
    margin-bottom: 50px;
}

#p02 {
    padding-bottom: 50px;
}